@model IEnumerable<PrizeDraw.DataLayer.Model.Identity.User>

<a class="btn btn-primary floatLeft" asp-action="Create" asp-controller="User"> Add</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @foreach (UserRole userRole in item.UserRoles)
                {
                    <span>@userRole.Role.Name </span>
                }
            </td>
            <td>
                @if (item.Vendor != null)
                {
                    @Html.DisplayFor(modelItem => item.Vendor.Name);
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
